@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: auto;
}

/* mixin & extend */
footer .fa-solid, footer .links i, main .contact-bg .contact h2, main .projects-bg .my-projects h2, main .skills-bg .my-skills h2, main .bg .about h2, .h-container .home h1, .h-container header nav li a {
  background: linear-gradient(to right, #EED67E 0%, #EED67E 20%, #634d16 37%, #EED67E 70%, #D9BA60 91%, #4D3509 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .projects-bg .my-projects .projects .office, main .projects-bg .my-projects .projects .marketing, main .projects-bg .my-projects .projects .hotel, main .projects-bg .my-projects .projects .photographer, main .projects-bg .my-projects .projects .modernist, main .projects-bg .my-projects .projects .social, main .projects-bg .my-projects .projects .rest, main .projects-bg .my-projects .projects .cv {
  text-align: center;
  padding-top: 18vh;
  font-size: 2vw;
  width: 15vw;
  height: 40vh;
  display: block;
  color: rgb(57, 53, 18);
  font-weight: 600;
  text-shadow: 6px 8px 13px rgba(128, 135, 19, 0.295);
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px black;
  transition: 0.5s ease-in-out 0.2s;
}

main .projects-bg, main .bg {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* mixin & extend */
/* first section */
.h-container {
  display: flex;
}
.h-container header {
  border-right: 1px solid white;
  width: 10vw;
  background-color: black;
}
.h-container header img {
  width: 10vw;
}
.h-container header nav {
  padding-top: 15vh;
}
.h-container header nav li {
  list-style-type: none;
  text-align: center;
  border-bottom: 1px solid white;
  transition: 0.3s ease-in-out 0.1s;
}
.h-container header nav li:hover {
  background-color: rgba(19, 148, 217, 0.6509803922);
  border-radius: 10px;
  transform: scale(0.9, 0.9);
}
.h-container header nav li:nth-of-type(4) {
  border-bottom: none;
}
.h-container header nav li a {
  text-decoration: none;
  padding: 1rem 0;
  display: block;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 600;
  font-size: 1.6vw;
}
.h-container .home {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.h-container .home h1 {
  color: white;
  width: 50%;
  font-size: 6vw;
  font-weight: 100;
  font-family: "Courgette", cursive;
}
.h-container .home h1 pre {
  font-family: "Courgette", cursive;
}
.h-container .home div {
  width: 34%;
}
.h-container .home div img {
  width: 100%;
}

/* second section */
main {
  /* third section */
  /* fourth section */
  /* fifth section */
}
main .bg .about {
  padding: 10vh 0;
}
main .bg .about h2 {
  font-size: 3vw;
  text-align: center;
  font-family: "Nanum Gothic Coding", monospace;
  border-bottom: 1px solid black;
  padding-bottom: 3.5vh;
}
main .bg .about p {
  padding-top: 10vh;
  font-size: 2vw;
  line-height: 1.5;
  font-family: "Courgette", cursive;
  color: rgb(57, 53, 18);
}
main .skills-bg {
  background-color: black;
}
main .skills-bg .my-skills {
  padding: 10vh 0;
}
main .skills-bg .my-skills h2 {
  font-size: 3vw;
  text-align: center;
  font-family: "Nanum Gothic Coding", monospace;
  border-bottom: 1px solid white;
  padding-bottom: 3.5vh;
}
main .skills-bg .my-skills .skills {
  text-align: center;
  padding-top: 1vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
main .skills-bg .my-skills .skills div {
  width: 25vw;
}
main .skills-bg .my-skills .skills div img {
  width: 50%;
}
main .skills-bg .my-skills .skills .css {
  grid-column: 3/4;
}
main .skills-bg .my-skills .skills .js {
  grid-column: 2/3;
}
main .skills-bg .my-skills .skills .scss {
  grid-row: 3/4;
}
main .skills-bg .my-skills .skills .bootstrap {
  grid-row: 3/4;
  grid-column: 3/4;
}
main .skills-bg .my-skills .skills span {
  color: white;
  display: block;
  font-size: 1.7vw;
  font-weight: 600;
  font-family: "Nanum Gothic Coding", monospace;
}
main .projects-bg .my-projects {
  padding: 2rem 0;
}
main .projects-bg .my-projects h2 {
  font-size: 3vw;
  text-align: center;
  font-family: "Nanum Gothic Coding", monospace;
  border-bottom: 1px solid black;
  padding-bottom: 3.5vh;
}
main .projects-bg .my-projects .projects {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}
main .projects-bg .my-projects .projects .cv:hover {
  background: url(../images/cv.PNG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
main .projects-bg .my-projects .projects .rest:hover {
  background: url(../images/restaurant.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
main .projects-bg .my-projects .projects .social:hover {
  background: url(../images/social.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
main .projects-bg .my-projects .projects .modernist:hover {
  background: url(../images/modernist.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
main .projects-bg .my-projects .projects .photographer:hover {
  background: url(../images/photographer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
main .projects-bg .my-projects .projects .hotel:hover {
  background: url(../images/hotel.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
main .projects-bg .my-projects .projects .marketing:hover {
  background: url(../images/marketing.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
main .projects-bg .my-projects .projects .office:hover {
  background: url(../images/office.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
main .contact-bg {
  background-color: black;
}
main .contact-bg .contact {
  padding-top: 10vh;
}
main .contact-bg .contact h2 {
  font-size: 3vw;
  text-align: center;
  font-family: "Nanum Gothic Coding", monospace;
  border-bottom: 1px solid white;
  padding-bottom: 3.5vh;
}
main .contact-bg .contact .form {
  padding: 5vh 0;
  display: flex;
  justify-content: space-between;
}
main .contact-bg .contact .form input {
  width: 50vw;
  height: 6vh;
  margin: 1.5vh 0;
  padding: 2%;
  font-size: 1.4vw;
  color: rgb(57, 53, 18);
  font-family: "Nanum Gothic Coding", monospace;
  outline: none;
}
main .contact-bg .contact .form input::placeholder {
  font-size: 1.4vw;
  color: rgb(57, 53, 18);
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 600;
}
main .contact-bg .contact .form textarea {
  width: 50vw;
  margin: 1.5rem 0;
  padding: 2%;
  outline: none;
  resize: none;
  font-size: 1.4vw;
  color: rgb(57, 53, 18);
  font-family: "Nanum Gothic Coding", monospace;
}
main .contact-bg .contact .form textarea::placeholder {
  font-size: 1.4vw;
  color: rgb(57, 53, 18);
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 600;
}
main .contact-bg .contact .form button {
  display: block;
  margin: auto;
  font-size: 1.7vw;
  padding: 1vh 3vw;
  border-radius: 10px;
  border: none;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 600;
  background-color: gold;
  color: rgb(57, 53, 18);
  cursor: pointer;
}
main .contact-bg .contact .form button:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}
main .contact-bg .contact .form .image {
  width: 100%;
}
main .contact-bg .contact .form .image img {
  width: 100%;
}
main .contact-bg .contact .form .image img:hover {
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes move {
  25% {
    transform: translate(-550px, -320px);
  }
  50% {
    transform: translate(-1550px, 590px) scale(0.1, 0.1);
  }
}

footer {
  background-color: black;
  position: relative;
}
footer .links {
  text-align: center;
  padding: 2rem 0;
}
footer .links i {
  font-size: 3vw;
  padding-left: 5vw;
  cursor: pointer;
}
footer .fa-solid {
  font-size: 4vw;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/*# sourceMappingURL=main.css.map */
