$primary:black;
$secondary:rgb(57, 53, 18);
$white:white;
$gold-font:linear-gradient(to right, #EED67E 0%, #EED67E 20%, #634d16 37%, #EED67E 70%, #D9BA60 91%, #4D3509 100%);


  $heading-font:'Courgette', cursive;
  $main-font:'Nanum Gothic Coding', monospace;
